<div class="post 
    {% if not post.published %}
        not_published
    {% endif %}">
    <h1 class="title">
         <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        <span style="font-size: 50%">
        {% if not post.published %}
            <em>(unpublished)</em>
        {% endif %}
        </span>
    </h1>
    <div class="operations">
        <a href="{{ post.get_absolute_url }}edit/">edit</a>
        <a href="{{ post.get_absolute_url }}delete/">delete</a>
    </div>
    <span class="infobar">
        by {{ post.author }}, {{ post.datetime_added|date:"d.m.Y H:i:s" }}
    </span>
    
    <p class="content">{{ post.content }}</p>
</div>
